[Desktop Entry]
Name=НЕРУ-РОСА

X-KDE-PluginInfo-Name=neru-rosa-blue
X-KDE-PluginInfo-Author=Sadrlimanov Ramil Rashitovich
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
